.benefits {
  background-color: #F7F7F7;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    @include tablet {
    max-width: 1124px;
    }
  }

  &__box {
    width: 100%;
    padding: 35px;
    background: white;
    border: 1px solid $gray3;
    border-radius: 5px;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      &:first-child {
        flex-direction: row-reverse;
        padding-right: 100px;
        padding-top: 100px;
      }

      &:nth-child(2) {
        padding-left: 70px;
        padding-top: 20px;
      }

      flex-direction: row;
      padding-top: 75px;
      align-items: flex-start;
    }
  }
}

.benefits__box {

  &--image {
    width: 198px;
    height: auto;

    @include tablet {
      width: 386px;
      height: auto;
    }
  }

  .text-container {
    margin: 30px 0;

    @include tablet {
      width: 416px;
      margin: 0;

      &.blue {
        padding: 30px 0;
      }
    }
  }

  &--title {
    font: 1.875rem $font-secondary;
    line-height: 2.2rem;

  }

  &--text {
    font-size: 0.875rem;
    line-height: 1.2rem ;
    margin-top: 30px;

    @include tablet {
      font-size: 1rem;
      line-height: 1.375rem;
    }
  }
}
//------------------------COLORED LINES------------------//
@include tablet {

  .benefits__box--text:after {
    content: "";
    width: 332px;
    height: 4px;
    display: block;
    margin-top: 50px;
    background: $accent-color-red;
  }

  .benefits__box--text.blue:after {
    background: $primary-color;
  }
  .benefits__box--text.green:after {
    background: $accent-color-green;
  }

}

//----------------------CIRCLE AND RHOMBUS-----------------//
.benefits__box {
  .image-container {
    position: relative;
    z-index: 0;
    background: transparent;
  }

  &:nth-of-type(1) {
    .image-container:before {
      content: "";
      display: block;

      transform: rotate(45deg);
      background: $accent-color-red;
      border-radius: 41px;
      position: absolute;
      height: 90px;
      width: 90px;
      right: -8px;
      top: -20px;
      z-index: -1;

      @include tablet {
        width: 180px;
        height: 180px;
        right: 0;
        top: -40px;

      }
    }
  }
  &:nth-of-type(2) {
    .image-container:before {
      content: "";
      display: block;

      background: $primary-color;
      border-radius: 50%;
      position: absolute;
      height: 130px;
      width: 130px;
      left: 0;
      top: -10px;
      z-index: -1;

      @include tablet {
        width: 300px;
        height: 300px;
        left: -10px;
        top: -12px;
      }
    }
  }
}


.last_benefits_boxes {
  width: 100%;
  padding: 0;
  margin: 30px 0;

  @include tablet {
    display: flex;
    justify-content: space-between;

  }

  .text-container {
    background: #ffffff;
    padding: 35px;


    @include tablet {
      padding-top: 50px;
      margin-right: 50px;
    }
  }

  .image-container {
    background: $accent-color-green;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    width: 100%;


    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      padding: 50px 16px;
     width: 80%;
    }

    img {
      margin-top: 55px;
    }
  }
}