.header {
  background-color: #fff;
  box-shadow: 0 3px 6px #00000029;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.page-logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;

  font-weight: 300;
  font-family: $font-secondary;
  color: $primary-color;
}

.menu {
  list-style: none;
  overflow: hidden;

  max-height: 0;
  transition: max-height .2s ease-out;

  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  box-shadow: 0 3px 6px #00000029;
  background-color: transparent;

  li {

    a {
      text-transform: uppercase;
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      font-size: 0.7em;
      font-weight: 700;
      letter-spacing: 3.28px;
      color: #A5A5A5;
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent;

      &:hover {
        color: black;

      }
  }
  }
}

/* menu icon */

.menu-icon {
  cursor: pointer;
  //display: inline-block;
  //float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;

  .navicon {
    background-color: $secondary-color;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }
}


.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background-color: $secondary-color;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.menu-btn {
  display: none;

  &:checked ~ {
    .menu {
      max-height: 240px;
      padding: 20px 0;
    }

    .menu-icon .navicon {
      background: transparent;

      &:before {
        transform: rotate(-45deg);
      }
      &:after {
        transform: rotate(45deg);
      }
    }

    .menu-icon .navicon:before,
    .menu-icon .navicon:after {
      top: 0;
    }
  }
}

@include tablet {
  .header {
    li a {
      padding: 20px 10px;
      margin: 0 10px;

      &:hover {
        border-bottom: 2px solid $primary-color;
      }
    }

    .menu {
      padding: 0;
      max-height: none;
      position: static;
      box-shadow: none;
      width: auto;

      display: flex;
      justify-content: space-between;
    }

    .menu-icon {
      display: none;
    }
  }
}


