.statistics {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__header {
    text-align: center;
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 30px;
    padding: 10px 30px 30px 30px;

    @include tablet {
      padding: 60px 0 100px 0;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include tablet {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}


.statistics__item {
  position: relative;
  width: 160px;
  padding-bottom: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;

// IMAGE AND CIRCLE
  &:before {
    content: "";
    display: inline-block;
    align-self: center;
    width: 63px;
    height: 63px;
    border-radius: 50%;
  }

  &:nth-of-type(1):before {
    background-color: $accent-color-red;
  }

  &:nth-of-type(2):before {
    background-color: $primary-color;
  }

  &:nth-of-type(3):before {
    background-color: $accent-color-green;
  }

  img {
    position: absolute;
    top: 8px;
    right: 30px;
  }

  &:nth-of-type(2) img {
    position: absolute;
    top: 15px;
    right: 28px;
  }


  &--number {
    font-size: 20px;
    font-weight: 800;
    font-family: $font-secondary;
    margin: 13px 0 19px 0;
    letter-spacing: 5.96px;
  }

  &--text {
    font-size: 1rem/1.1rem;
    font-weight: 400;
    font-family: $font-secondary;
    color: #A5A5A5;
    text-align: center;
    padding: 0 15px;
  }
}
