.btn {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  padding: 25px 0;
  margin-top: 20px;
  background-color: $secondary-color;
  box-shadow: 5px 10px 14px #07ACE629;
  border-radius: 40px;
  text-align: center;
}

.btn--large {
  width: 90%;
  max-width: 440px;

  @include tablet {
    width: 440px;
  }
}

.pricing__button {
  background-color: $accent-color-green;
  border-radius: 23px;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -27.5px;
  align-self: center;
  font: normal normal bold 13px/41px;
  color: #FFFFFF;
  text-decoration: none;
}

.btn{
  &--blue {
    background: $primary-color;
  }

  &--red {
    background: $accent-color-red;
  }
}

