$lightblue: #07ACE629;
$primary-color: #08A6E4;
$secondary-color: #07ACE6;
$red: #FB3B64;
$red2: #EB476E;
$green: #55DFB4;
$pink: #F9043629;
$pink2: #FF091129;
$gray: #00000029;
$gray2: #A5A5A5;
$gray3: #E8E9ED;
$gray4: #95989A;
$gray5: #707070;